<div class="header">
    <!-- header 版心 -->
    <div class="header-con">
        <!-- logo -->
        <div class="logo">
            <a href="www.gehttps://www.gionee.com/index.shtml" target="_self"> <img src="../images/g_logo_03.jpg" alt=""></a>
        </div>
        <!-- header_main -->
        <div class="hd_main">
            <div class="g_quickMenu fr" id="JquickMenu">
                <span class="loginReg" id="JloginReg">
                    <a href="./login.html" target="_self" hidefocus="true" class="login"
                        style="color: #ef4222;">amigo账号登录</a>
                    <span class="line">|</span>
                <a href="./login.html" target="_self" hidefocus="true" class="reg">原账号登录</a><b></b>
                <span class="line">|</span>
                <a href="./login.html" target="_self" hidefocus="true" class="reg">注册</a><b></b>
                </span>
                <span class="cart" id="Jcart">
                    <span class="iconfont icon-gouwuche"><a href="./cart.html" hidefocus="true" class="reg">购物车（<em class="shopNum" id="JcartNum">0</em><b></b>）</a><i class="whitespace"></i></span>
                </span>
            </div>
            <!-- search 搜索框 -->
            <div class="g_search fr">
                <form action="#">
                    <input type="text" id="search_nr" class="txt" value="">
                    <input type="submit" class="btn_so">
                    <ul class="search-list">
                        <!-- <li>你好</li>
                        <li>你好</li>
                        <li>你好</li> -->
                    </ul>
                </form>
            </div>
            <ul class="g_main_nav c">
                <li class="mNav_item home"><a href="./index.html" target="_self" hidefocus="true" class="mNav_title">首页</a></li>
                <li class="mNav_item mobile"><a href="./lists.html" target="_self" hidefocus="true" class="mNav_title">手机</a>
                    <div class="menu-box" id="m-sj">
                        <div class="menu-li">
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">最新 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a class="hotphone" href="#">金立S11S</a></li>
                                    <li><a class="hotphone" href="#">金立S11</a></li>
                                    <li><a class="hotphone" href="#">金立M7 Plus</a></li>
                                    <li><a class="hotphone" href="#">金立M7</a></li>

                                    <li><a href="#">大金钢2</a></li>
                                </ul>
                            </div>
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span
                                                style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">M系列 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a href="#">金立M7 Plus</a></li>
                                    <li><a href="#">金立M7</a></li>
                                    <li><a href="#">金立M6S Plus</a></li>
                                    <li><a href="#">金立M2017</a></li>

                                    <li><a href="#">金立M6 Plus</a></li>
                                    <li><a href="#">金立M6</a></li>
                                </ul>
                            </div>
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span
                                                style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">S系列 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a href="#">金立S11S</a></li>
                                    <li><a href="#">金立S11</a></li>
                                    <li><a href="#">金立S10</a></li>
                                    <li><a href="#">金立S10B</a></li>
                                    <li><a href="#">金立S10C</a></li>
                                </ul>
                            </div>
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span
                                                style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">金钢系列 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a class="hotphone" href="#">金钢3</a></li>
                                    <li><a href="#">金钢2</a></li>
                                    <li><a href="#">大金钢2</a></li>
                                </ul>
                            </div>
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span
                                                style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">天鉴系列 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a href="#">天鉴W909</a></li>
                                </ul>
                            </div>
                            <div class="menu-ul">
                                <ul style="WIDTH: 100%">
                                    <li><span style="width:50px;">&nbsp;</span></li>
                                    <li><a href="#"><span
                                                style="font-weight:bold;">
                                                <font font="" size="3px" color="#777777">F系列 &gt;</font>
                                            </span></a></li>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;height:10px;font-size:14px;border:0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <li><a class="hotphone" href="#">金立F6</a></li>
                                    <li><a href="#">金立F109</a></li>
                                    <li><a href="#">金立F109L</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mNav_item peijian"><a href="#" target="_self" hidefocus="true" class="mNav_title">配件</a></li>
                <li class="mNav_item service"><a href="#" target="_self" hidefocus="true" class="mNav_title">服务</a></li>
                <li class="mNav_item download"><a href="#" target="_blank" hidefocus="true" class="mNav_title">下载</a></li>
                <li class="mNav_item elife"><a href="./login.html" rel="nofollow" target="_blank" hidefocus="true" class="mNav_title">amigoOS</a></li>
            </ul>
        </div>

    </div>
    <!-- 间隔灰色线 -->
    <div class="littleLine"></div>
</div>