<div class="ui_service" id="Jservice" style="right: 6px; position: fixed; top: 50%; margin-top: -144px;">
    <div class="ui_service_item"><a href="javascript:void(0);" class="ui_service_lbl online" tag_serv="open" target="_self">在线服务<span></span></a>
    </div>
    <div class="ui_service_item"><a href="#" class="ui_service_lbl help " target="_blank">帮助中心<span></span></a></div>
    <div class="ui_service_item" tag_serv="top"><a href="javascript:void(0)" class="ui_service_lbl backTop" target="_self">返回顶部<span></span></a></div>
    <div class="ui_service_item" style="height: 80px;text-align:center;"><img src="https://shop.gionee.com/static/web201310/code.png" style="width: 50px;height: 50px;text-align: center;margin-top: 6px;">
        <p class="shop-gioneewechat" style="margin-top:-2px;">金立关怀</p>
    </div>
</div>